@import url(https://fonts.bunny.net/css?family=albert-sans:300,400,600,700);
@import 'variables';
@import 'bootstrap';

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family:$font;
}

body {
  color:$text-color;
  background-color:$bg-color;
}

h1 {
  font-weight:800;
  font-size:2.5rem;
  color:$header-color;
}

h2 { font-weight:700 }

p {
  font-weight:500;
}

input, textarea {
  padding:10px;
  border-radius:10px;
  border:0;
  background-color:$task-bg-color;
  color:$task-text-color;
  &:focus { outline:1px solid $button-color }
}

input[type='datetime-local'] {
  color:gray;
}

textarea {
  min-height:100px;
  resize:vertical;
}

button {
  padding:10px;
  background-color:$button-color;
  border:0;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
  width:100px;
  &:hover {
    background-color:$button-hover-color;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }
}

.main-container { padding:20px 40px }

.list-container { flex:65}

.form-container { flex:30 }

.container {
  background-color:$bg-accent;
  transition:flex 0.3s;
  gap:10px;
}

.error-field {
  color:$button-color;
  font-weight:400;
  font-size:0.7rem;
}

.task-item {
  background-color:$task-bg-color;
  color:$task-text-color;
  width:100%;
}

.action-container {
  justify-content:space-around;
  gap:5px;
}

.time {
  padding-top:10px;
  color:#808080;
  font-size:0.7rem;
  font-weight:100;
}

.icon {
  background-color:$button-color;
  height:30px;
  width:30px;
  padding:2px;
  color:black;
  &:hover {
    box-shadow:rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color:$button-hover-color;
  }
}