@import url(https://fonts.bunny.net/css?family=albert-sans:300,400,600,700);
@import 'variables';
@import 'Form';
@import 'List';

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body {
  font-family:$font;
  color:$text-color;
  background-color:$bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight:800;
  font-size:2.5rem;
  color:$header-color;
}

h2 {
  font-weight:700;
}

p {
  font-weight:300;
  font-size:1rem;
}

input, textarea {
  font-family:$font;
  padding:10px;
  border-radius:10px;
  border:0;
  background-color:$task-bg-color;
  resize:vertical;
  color:$task-text-color;

  &:focus {
    outline:1px solid $button-color;
  }
}

textarea { min-height:100px }

label {
  display:flex;
  flex-direction:column;
}

.main-container {
  padding:20px 40px;
  display:flex;
  justify-content:space-between;
  gap:20px;
}

.button-container {
  display:flex;
  justify-content:space-between;

  button {
    padding:10px;
    background-color:$button-color;
    border:0;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    width:100px;
    &:hover {
      background-color:$button-hover-color;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    }
  }
}

.container {
  padding:20px;
  border-radius:10px;
  background-color:$bg-accent;
  transition:flex 0.3s;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.list-container {flex:65 }
.form-container { flex:30 }

.task-item {
  background-color:$task-bg-color;
  color:$task-text-color;
  padding:20px;
  width:100%;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
}

.action-container {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  gap:5px;
}

.icon {
  border-radius:10px;
  background-color:$button-color;
  height:30px;
  width:30px;
  padding:2px;
  color:black;
  cursor:pointer;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color:$button-hover-color;
  }
}