$font:'Albert Sans', sans-serif;
$header-color:#E7E8F2;
$text-color:#D7D7DC;
$bg-color:#181A25;
$bg-accent:#12141C;
$task-bg-color:#7580B850;
$task-text-color:#BFC7D5;
$button-color:#FB503B;
$button-hover-color:#FB503B85;